name: Build & Release

on:
  workflow_dispatch
  
jobs:
  build-and-release:
    runs-on: windows-latest
    permissions:
      contents: write  
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Read client version
        run: echo "PROJECT_VERSION=$(./gradlew -q :client:printVersion)" >> $env:GITHUB_ENV

      - name: Install NSIS
        uses: negrutiu/nsis-install@v1

      - name: Build NSIS Installer
        run: ./gradlew :client:createInstaller

      - name: Build Portable Executable
        run: ./gradlew :client:createPortable

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.PROJECT_VERSION }}
          files: |
            client/build/distributions/BotakTTS-${{ env.PROJECT_VERSION }}-Setup.exe
            client/build/distributions/BotakTTS-${{ env.PROJECT_VERSION }}-Portable.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
